body {
    background-color:#070053;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: fit-content;

    font-family: Franklin Gothic;
    color: #ffffff80;
}

a {
    font-family: Franklin Gothic;
    color: #ffffff80;
}



/********* Navigation bar on top of screen *********/
.header {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    transition: 0.5s ease;
    user-select: none;
    z-index: 1;

    .navLeftSide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1%;

        #title {
            white-space: nowrap;
            margin-left: 5%;
        }
    }

    .navRightSide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1%;

        a {
            display: flex;
            cursor: pointer;
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            text-shadow: none;
        }

        .logo {
            padding: 1%;
            margin-left: 10px;
        }
    }
}



/********* Main menu *********/
.menu {
    margin-top: 5%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.button {
    backdrop-filter: blur(10px);
    background: transparent;
    width: 80%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: none;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
}

.button:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}




/********* Pop-Up windows *********/
.popup {
    display: flex;
    flex-direction: column;
    visibility: visible;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
    padding: 2%;
    z-index: 1;
}

.closed {
    display: none;
    visibility: hidden;
}

#gameFoundPopUp h2 {
    text-shadow: 0 0 5px #55555580;
}