body {
    background-color: #070053;
    height: fit-content;
}

.gameboard {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid #ffffff80;
    position: relative;
    margin: auto;
    width: 700px;
    height: 700px;
    z-index: 1;
    margin-top: -2%;
}

#canvas {
    z-index: 1;
}

.field {
    background-color: rgb(0, 4, 120);
    width: 10%;
    height: 10%;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.subfield {
    background-color: rgb(0, 4, 120);
    width: 4%;
    height: 4%;
    border: 2px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    z-index: 3;
}

.subfield .piece {
    width: 250%;
    height: 250%;
    object-fit: contain;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#field0 {
    position: absolute;
    top: 50%;
    left: 10%;
}

#field1 {
    position: absolute;
    top: 50%;
    left: 19%;
}

#field2 {
    position: absolute;
    top: 50%;
    left: 27%;
}

#field3 {
    position: absolute;
    top: 50%;
    left: 34%;
}

#field4 {
    position: absolute;
    top: 50%;
    left: 41%;
}

#field5 {
    position: absolute;
    top: 10%;
    left: 33%;
}

#field6 {
    position: absolute;
    top: 19%;
    left: 37%;
}

#field7 {
    position: absolute;
    top: 27%;
    left: 40%;
}

#field8 {
    position: absolute;
    top: 34%;
    left: 43%;
}

#field9 {
    position: absolute;
    top: 41%;
    left: 46%;
}

#field10 {
    position: absolute;
    top: 10%;
    left: 66%;
}

#field11 {
    position: absolute;
    top: 21%;
    left: 62%;
}

#field12 {
    position: absolute;
    top: 30%;
    left: 58%;
}

#field13 {
    position: absolute;
    top: 40%;
    left: 54%;
}

#field14 {
    position: absolute;
    top: 50%;
    left: 90%;
}

#field15 {
    position: absolute;
    top: 50%;
    left: 80%;
}

#field16 {
    position: absolute;
    top: 50%;
    left: 70%;
}

#field17 {
    position: absolute;
    top: 50%;
    left: 60%;
}

#field18 {
    position: absolute;
    top: 90%;
    left: 66%;
}

#field19 {
    position: absolute;
    top: 80%;
    left: 62%;
}

#field20 {
    position: absolute;
    top: 70%;
    left: 58%;
}

#field21 {
    position: absolute;
    top: 60%;
    left: 54%;
}

#field22 {
    position: absolute;
    top: 90%;
    left: 33%;
}

#field23 {
    position: absolute;
    top: 81%;
    left: 37%;
}

#field24 {
    position: absolute;
    top: 73%;
    left: 40%;
}

#field25 {
    position: absolute;
    top: 66%;
    left: 43%;
}

#field26 {
    position: absolute;
    top: 59%;
    left: 46%;
}

#field27 {
    position: absolute;
    top: 50%;
    left: 50%;
}