body {
    background-color:#070053;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: fit-content;

    font-family: Franklin Gothic;
    color: #ffffff80;
}

.title {
    padding: 1vh;
}

.register {
    .row {
        margin-inline: 10px;
    }
}