a {
    color: #ffffff80;
    font-family: Franklin Gothic;
    font-weight: 400;
    color: #ffffff80;
}

label {
    padding-right: 2vh;
    font-family: Franklin Gothic;
    font-weight: 400;
    color: #ffffff80;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff80;
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background: transparent;
    backdrop-filter: blur(20px);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 1vh;
    align-items: center;
    justify-content: center;
}

.input {
    border-radius: 20px;
    padding: 1vh;
    background: transparent;
}

.input .row {
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    backdrop-filter: blur(10px);
    background: transparent;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    width: fit-content;
    height: fit-content;
    padding: 2vh;
    margin: 2vh;
    margin-bottom: 1vh;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 5px darkblue;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.3s ease;
    user-select: none;
    color: #ffffff80;
    font-family: Franklin Gothic;
    font-weight: 400;
}

.button:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}