<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/userInput.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/GamePageBackground.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
                <h2 id="title">Spiderweb game</h2>
            </a>
        </div>
        <div class="navRightSide">
            <a id="login" th:href="@{/profile}">
                <h3 class="username" th:text="${client.username}"></h3>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div class="alreadyLoggedIn" th:if="${isLoggedIn == true}">
        <h2>You are already logged in</h2>
    </div>

    <div class="container" th:unless="${isLoggedIn == true}">
        <h1 class="title">Log in to your account</h1>

        <form th:action="@{/login}" method="post">
            <div class="inputContainer">

                <h3 th:if="${success == false}">Incorrect username or password</h3>

                <div class="row">
                    <label for="username"> Username: </label>
                    <input th:name="username" type="text" id="username" class="input" required>
                </div>
                <div class="row">
                    <label for="password"> Password: </label>
                    <input th:name="password" type="password" id="password" class="input" required>
                </div>
            </div>
            
            <div class="buttonContainer">
                <div class="row">
                    <a class="button" th:href="@{/}">Home</a>
                    <button class="button" type="submit">Log in</button>
                </div>
            </div>

            <div class="register">
                <div class="row">
                    <p>
                        or if you dont't have an account <a th:href="@{/register}">Register here </a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>