<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create an account</title>

    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/userInput.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}"/>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/GamePageBackground.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
                <h2 id="title">Spiderweb game</h2>
            </a>
        </div>
        <div class="navRightSide">
            <a id="login" th:href="@{/profile}">
                <h3 class="username" th:text="${client.username}"></h3>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div class="container">
        <h1 class="title">Create a new account</h1>

        <form onsubmit="return validatePassword()" th:action="@{/register}" method="post">
            <div class="inputContainer">

                <h3 th:if="${exists == true}">Username is already taken</h3>

                <div class="row">
                    <label for="username"> Username: </label>
                    <input th:name="username" type="text" id="username" class="input" required>
                </div>
                <div class="row">
                    <label for="firstName"> First name: </label>
                    <input th:name="firstName" type="text" id="firstName" class="input" required>
                </div>
                <div class="row">
                    <label for="lastName"> Last name: </label>
                    <input th:name="lastName" type="text" id="lastName" class="input" required>
                </div>
                <div class="row">
                    <label for="password1"> Password: </label>
                    <input type="password" id="password1" class="input" required>
                </div>
                <div class="row">
                    <label for="password2"> Password again: </label>
                    <input th:name="password" type="password" id="password2" class="input" required>
                </div>
            </div>
        
            <div class="buttonContainer">
                <div class="row">
                    <a class="button" th:href="@{/}">Home</a>
                    <button class="button" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        function validatePassword() {
        var pw1 = document.querySelector("#password1").value;
        var pw2 = document.querySelector("#password2").value;

        if (pw1 !== pw2) {
            alert("Passwords don't match!");
            return false;
        }
        return true;
        }
    </script>
</body>
</html>