<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spiderweb - Game</title>

    <link rel="stylesheet" th:href="@{/css/game.css}">
    <script th:src="@{/js/game.js}" defer></script>
</head>
<body onload="loadPage()">
    <div class="centered-div">
        <canvas id="canvas" width="600" height="600"></canvas>

        <div class="field" id="field0" onclick="handleOnClick(0)"></div>
        <div class="subfield" id="field1" onclick="handleOnClick(1)"></div>
        <div class="subfield" id="field2" onclick="handleOnClick(2)"></div>
        <div class="subfield" id="field3" onclick="handleOnClick(3)"></div>
        <div class="subfield" id="field4" onclick="handleOnClick(4)"></div>
        <div class="field" id="field5" onclick="handleOnClick(5)"></div>
        <div class="subfield" id="field6" onclick="handleOnClick(6)"></div>
        <div class="subfield" id="field7" onclick="handleOnClick(7)"></div>
        <div class="subfield" id="field8" onclick="handleOnClick(8)"></div>
        <div class="subfield" id="field9" onclick="handleOnClick(9)"></div>
        <div class="field" id="field10" onclick="handleOnClick(10)"></div>
        <div class="subfield" id="field11" onclick="handleOnClick(11)"></div>
        <div class="subfield" id="field12" onclick="handleOnClick(12)"></div>
        <div class="subfield" id="field13" onclick="handleOnClick(13)"></div>
        <div class="field" id="field14" onclick="handleOnClick(14)"></div>
        <div class="subfield" id="field15" onclick="handleOnClick(15)"></div>
        <div class="subfield" id="field16" onclick="handleOnClick(16)"></div>
        <div class="subfield" id="field17" onclick="handleOnClick(17)"></div>
        <div class="field" id="field18" onclick="handleOnClick(18)"></div>
        <div class="subfield" id="field19" onclick="handleOnClick(19)"></div>
        <div class="subfield" id="field20" onclick="handleOnClick(20)"></div>
        <div class="subfield" id="field21" onclick="handleOnClick(21)"></div>
        <div class="field" id="field22" onclick="handleOnClick(22)"></div>
        <div class="subfield" id="field23" onclick="handleOnClick(23)"></div>
        <div class="subfield" id="field24" onclick="handleOnClick(24)"></div>
        <div class="subfield" id="field25" onclick="handleOnClick(25)"></div>
        <div class="subfield" id="field26" onclick="handleOnClick(26)"></div>
        <div class="field" id="field27" onclick="handleOnClick(27)">  
</body>
</html>