<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spiderweb - Home</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

<div class="container">

    <h1 id="title">Spiderweb game</h1>

    <div class="row">
        <a th:href="@{'/game'}" type="button" class="button">Play</a>
    </div>
    <div class="row">
        <a th:href="@{'/players'}" type="button" class="button">Scoreboard</a>
    </div>
</div>

</body>
</html>