<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <style th:inline="text">
        body {
            background: url([[@{/img/HomePageBackground4k.jpg}]]) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
            </a>
            <h2 id="title">Spiderweb game</h2>
        </div>
        <div class="navRightSide">
            <a id="login" th:href="@{/login}">
                <label for="playerLogo" id="playerNameLabel">Guest</label>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <a th:href="@{'/playGame'}" type="button" class="button">Play</a>
        </div>
        <div class="row">
            <a th:href="@{'/scoreboard'}" type="button" class="button">Scoreboard</a>
        </div>
    </div>

    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/userData.js}"></script>
</body>
</html>