<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Scoreboard</title>

    <link rel="stylesheet" th:href="@{/css/scoreboard.css}"/>

    <style th:inline="text">
        body {
            position: relative;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url([[@{/img/GamePageBackground.jpg}]]) no-repeat center center fixed;
            filter: brightness(80%);
            z-index: -1;
        }
    </style>

</head>
<body>
    <header class="header">
        <div class="navLeftSide">
            <a th:href="@{'/'}" class="homeContainer" id="homeButton">
                <img class="logo" id="homeLogo" th:src="@{/img/HomeLogo.svg}" alt="">
            </a>
            <h2 id="title">Spiderweb game</h2>
        </div>
        <div class="navRightSide">
            <a id="login" onclick="openPopUp('loginPanel')">
                <label for="playerLogo" id="playerNameLabel">Guest</label>
                <img class="logo" id="playerLogo" th:src="@{/img/LoginLogo.svg}" alt="">
            </a>
        </div>
    </header>

    <div class="container">
        <h2 class="title">Scoreboard</h2>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Games played</th>
                    <th>Steps made</th>
                    <th>Games won</th>                
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.playedGames}"></td>
                    <td th:text="${user.stepsMade}"></td>
                    <td th:text="${user.wonGames}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/userData.js}"></script>
</body>
</html>